.header {
    background-color: #004d40;
    text-align: center;
    color: white;
    font-family: Museomoderno, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;

}



h2 {
    font-family: prompt, helvetica, sans-serif;
    font-size: smaller;
    font-weight: 500;
    color: white;
    font-kerning: none;
}

#suburb,
#weather-location-name {
    background-color: white;
    text-indent: 10px;
}

ol {
    font-size: larger;
    color: grey;
}

p {
    font-family: prompt, Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 400;
}

/* .col m9 {
    overflow: scroll;
    height: 450px;
} */

.footer {
    font-family: prompt;
    text-align: center;
    background-color: white;
}