.header {
    background-color: rgb(37, 138, 86);
    text-align: center;
    color: white;
    font-family: Museomoderno, sans-serif;

}

h2 {
    font-family: arial, sans-serif;
    font-size: larger;
}