.header {
    background-color: #004d40;
    text-align: center;
    color: white;
    font-family: Museomoderno, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;

}


h2 {
    font-family: prompt, helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
    font-kerning: normal;
}

#location-name {
    background-color: white;
    text-indent: 10px;
    font-family: prompt, Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 3px;
}


p {
    font-family: prompt, Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 400;
}

button {
    font-family: prompt, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    padding: 10px;
    margin: 20px;
    background-color: #00897B;
    border-radius: 5px;
    justify-content: left;
    border: none;
    cursor: pointer;
}

.footer {
    font-family: prompt;
    text-align: center;
    background-color: white;
}

#table-property-list,
#shortlist {
    font-family: prompt, Arial, Helvetica, sans-serif;
}

#shortList {
    background-color: #26a69a;


}

.containerMain {
    background-image: url("../assets/hero.png");


}

#weatherTable {
    background-color: #b2dfdb;
    color: #009688;
}


#table-property-list td:first-child,
#table-property-list th:first-child {
    padding-left: 32px;
}

.browser-default {
    font-family: prompt, Arial, Helvetica, sans-serif;
    font-size: large;
    color: #004d40;
    background-color: white;
    border: none;
    cursor: pointer;
}

dialog {
    font-family: prompt, Arial, Helvetica, sans-serif;
}